.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons button {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #4096ff;
}